<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list_detail.name }}</h1>
      </div>
      <div>
        <h2>Tasks</h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_list_detail.items.all %}
          <tr>
            <td>
              <a href="{% url 'todo_list_detail' item.id %}">{{ item.task }}</a>
            </td>
            <td>{{ item.due_date|date:"M d, Y" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
